html, body{
	max-height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	white-space: nowrap;
}
#header {
	position: fixed;
	background-color: black;
	top: 0px;
	left: 0px;
	width: 100%;
	font-size: 42px;
	color: white;
}
#main {
	display: inline-block;
}

#input_ip {
	display: inline-block;
	margin-top: 80px;
}

#isClass {
	position: fixed;
	top: 57px;
	left: 0px;
	width: 100%;
	height: 25px;
	padding: 4px 35px 2px ;
}

#output, #output2{
	display: inline-block;
	margin-left: 100px;
	overflow-y: auto;
	overflow-x: auto;
	height: 250px;
	width: 200px;
}
input.iptx, input#opctx {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	border: 0px solid;
	border-radius: 3px;
	height: 25px;
	text-align: center;
}
ul > li {
	//display: inline-block;
}

#btcalc {
	border: 0px solid;
	border-radius: 10px;
	margin: 10px;
	width: 100px;
	height: 30px;
}

#resultados {
	font-size: 22px;
}